@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
.news-detail-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-top: 110px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .news-detail-content .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.news-detail-content .container .article-content-container {
  width: 100%;
}
@media (min-width: 992px) {
  .news-detail-content .container .article-content-container {
    width: 768px;
  }
}
.news-detail-content .container .article-content-container #result h3 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: left;
  color: #191919;
  padding-bottom: 20px;
}
.news-detail-content .container .article-content-container #result .article-details {
  display: flex;
  padding-bottom: 50px;
}
.news-detail-content .container .article-content-container #result .article-details p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #191919;
}
.news-detail-content .container .article-content-container #result .article-details .yellow-dot {
  border-radius: 50px;
  width: 10px;
  height: 10px;
  border: 1px solid #f9d783;
  background-color: #f9d783;
  margin: 10px 20px 0 20px;
}
.news-detail-content .container .article-content-container #result img {
  width: 100%;
}
.news-detail-content .container .article-content-container #result .content {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
  margin: 20px 0 50px 0;
}
.news-detail-content .container .right-content-container {
  width: 420px;
}
.news-detail-content .container .right-content-container .search-bar {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 40px;
  background: #f3f3f3;
}
.news-detail-content .container .right-content-container .search-bar .search-icon {
  color: #191919;
  font-size: 30px;
  margin-left: 30px;
  margin-right: 10px;
}
.news-detail-content .container .right-content-container .search-bar input {
  height: 56px;
  width: 420px;
  background: #f3f3f3;
  border-radius: 40px;
  border: none;
  padding: 5px;
  flex-grow: 1;
}
.news-detail-content .container .right-content-container .recent-post-container {
  border: 2px solid rgba(25, 25, 25, 0.2);
  padding: 20px;
}
.news-detail-content .container .right-content-container .recent-post-container h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  background-image: linear-gradient(#191919, #191919);
  background-repeat: no-repeat;
  background-size: 45px 2px;
  background-position: bottom left, 4px;
}
.news-detail-content .container .right-content-container .recent-post-container .border-bottom {
  border-bottom: 1px solid #191919;
  padding: 20px 0 20px 0;
}
.news-detail-content .container .right-content-container .recent-post-container .last {
  padding-top: 20px;
}
.news-detail-content .container .right-content-container .recent-post-container .post {
  padding-bottom: 20px;
}
.news-detail-content .container .right-content-container .recent-post-container .post p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-bottom: 0;
}
.news-detail-content .container .right-content-container .recent-post-container .post span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
}
.news-detail-content .container .right-content-container .categories-container {
  border: 2px solid rgba(25, 25, 25, 0.2);
  padding: 20px;
  margin-top: 40px;
}
.news-detail-content .container .right-content-container .categories-container h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  background-image: linear-gradient(#191919, #191919);
  background-repeat: no-repeat;
  background-size: 45px 2px;
  background-position: bottom left, 4px;
}
.news-detail-content .container .right-content-container .categories-container .category {
  display: flex;
}
.news-detail-content .container .right-content-container .categories-container .category p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  color: rgb(25, 25, 25);
  margin: 0 5px 5px 0;
}
.news-detail-content .container .right-content-container .categories-container .category span {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.6);
}

.more-articles-section {
  background-color: #F0EFE9;
}
.more-articles-section button {
  background-color: #fff;
}/*# sourceMappingURL=newsDetails.css.map */