@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
.news-section .container {
  display: grid;
  grid-template-columns: 1fr;
}
.news-section .container h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: center;
  color: #191919;
  padding-top: 90px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .news-section .container h2 {
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .news-section .container h2 {
    font-size: 35px;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .news-section .container h2 {
    font-size: 45px;
  }
}
.news-section .container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .news-section .container .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .news-section .container .content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.news-section .container .content-container .news-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 1200px) {
  .news-section .container .content-container .news-content {
    margin-right: 32px;
    height: 500px;
  }
}
.news-section .container .content-container .news-content .img-container {
  position: relative;
}
.news-section .container .content-container .news-content .img-container .date-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #f9d783;
  color: #fff;
  padding: 5px 5px;
  height: 70px;
  width: 56px;
}
.news-section .container .content-container .news-content .img-container .date-tag p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  text-align: center;
}
.news-section .container .content-container .news-content .img-container img {
  width: 100%;
  height: 230px;
}
@media (min-width: 1200px) {
  .news-section .container .content-container .news-content .img-container img {
    width: 350px;
  }
}
@media (min-width: 1400px) {
  .news-section .container .content-container .news-content .img-container img {
    width: 420px;
  }
}
.news-section .container .content-container .news-content span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #6a6c71;
  margin-top: 16px;
}
.news-section .container .content-container .news-content h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-top: 16px;
  margin-bottom: 0;
}
.news-section .container .content-container .news-content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
  margin-bottom: 64px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.pagination .page-item {
  margin: 0 10px;
}
.pagination .page-item a {
  border-radius: 5px;
}
.pagination .active-page a {
  color: #fff;
  background-color: #191919;
}
.pagination span {
  color: #191919;
  font-family: "DM Sans";
  font-size: 21px;
  font-weight: 500;
  padding: 5px 0px;
}
.pagination .page-link {
  color: #191919;
  font-family: "DM Sans";
  font-size: 21px;
  font-weight: 500;
  padding: 5px 15px;
}/*# sourceMappingURL=news.css.map */